@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Healthy Living - Recipes - Breakfast</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html">Healthy Living</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="/BMI">BMI</a></li>
					<li><a href="/Exercise">Exercise</a></li>
                                        <li><a href="/Products">Products</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/Breakfast">Breakfast</a></li>
							<li><a href="/Lunch">Lunch</a></li>
							<li><a href="/Dinner">Dinner</a></li>
						</ul>
					</li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">
	
		<div class="row">
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h4><strong>Breakfast</strong></h4>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						
						<p><img src="Images/Porridge.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						
						<p><img src="Images/Berry.jpg" alt=""></p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Importance of Breakfast.......</h1>
				</header>
				<p>Eating breakfast has long term health benefits. It can reduce obesity, high blood pressure, heart disease and diabetes. Breakfast is an excellent occasion to eat together as a family when possible.... So, breakfast really is the most important meal of the day!</p>
				

				<h3>Simple & Easy Porridge</h3>
					<ol>
					  <li>Add the oats and milk/water to a small saucepan.</li>
					  <li>Bring to the boil over a medium heat. Simmer for about 5-7 minutes, stirring occasionally.</li>
					  <li>Spoon porridge into bowls and top with sliced banana and dried fruit.</li>
					</ol>

				<h3>Berry Smoothie</h3>
					<ol>
					  <li>Add 1.5 cup of blue berries and black berries into a blender.</li>
					  <li>Now add plain greek yogurt, 1 cup of vanilla soy milk.</li>
					  <li>Finall add 1 whole banana.</li>
					  <li>Blend All ingredients until smooth.</li>
					</ol>
					
				<h3>Quinoa Fruit Salad</h3>
					<ol>
					  <li>Rinse and prepare Quinoa according to the package.</li>
					  <li>In a large bowl, combine the quinoa with any desired fruits.</li>
					  <li>Fruits such as mango, strawberry, kiwi and banana all work very well</li>
					  <li>Drizzle Honey and lemon juice over the top to add flavour.</li>
					</ol>
				
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">General Information</h3>
			
			<div class="row">
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Exercise</h4></div>
					<div class="h-body text-center">
						<p>Exercise is also known as physical activity. In simple terms exercise is any movement that works your body at a greater intensity than your usual level of daily activity. Exercise raises your heart rate and works your muscles and is most commonly undertaken to achieve the aim of physical fitness.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Recipes</h4></div>
					<div class="h-body text-center">
						<p>Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity, your diet can help you to reach and maintain a healthy weight, reduce your risk of chronic diseases (like heart disease and cancer), and promote your overall health.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Body Mass Index</h4></div>
					<div class="h-body text-center">
						<p>Morbid obesity is defined as at least 100 pounds overweight, with a BMI greater than 40. BMI is a measure of your general health and is based on your height and weight ratio. If your BMI is high, you may have an increased risk of developing certain diseases including: high blood pressure.</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	
	<footer id="footer" class="top-space">


		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/index">Home</a> | 
								<a href="/BMI">BMI</a> |
								<a href="/Exercise">Exercise</a> |
							<a href="/Products">Products</a> |
								<a href="/contact">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2016. Designed by Designed by Conor, Rachel, Amber 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>

}
